# directories created during build
bin/
obj/
out/
*.nupkg
project.lock.json
.DS_Store
Microsoft.PowerShell.TextUtility.xml
# VSCode directories that are not at the repository root
/**/.vscode/
# Visual Studio IDE directory
.vs/